<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Retrenchment System</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RetrenchmentSystemManagement.styles.css" asp-append-version="true" />

</head>
<body>
    <style>
        body{
            font-family: 'Hind Siliguri'
        }
    </style>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white fw-bold border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-success fw-bold" asp-area="" asp-controller="Retrenchment" asp-action="Index">
                    Retrenchment System
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
                        @* </li> *@
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
                        @* </li> *@
                        
                        @{
                            string currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
                            string currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
                        }

                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Retrenchment" ? "text-white bg-success rounded" : "text-dark")"
                               asp-area="" asp-controller="Retrenchment" asp-action="Index">
                                Retrenchments
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Report" ? "text-white bg-success rounded" : "text-dark")"
                               asp-area="" asp-controller="Report" asp-action="ViewReport">
                                Reports
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-4">
        <div class="container">
            &copy; 2025 - Retrenchment System -
            <a href="https://portfolio.yasinarafattalukdar.com" target="_blank">Yasin Arafat</a>
        </div>
    </footer>

    <!-- jQuery and Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Site JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
